.nav_container {
  padding: 17px 20px;
  max-width: 1000px;
  margin: 0 auto;
  nav,
  .logs {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 20px;
      font-family: "bodoni mt";
      letter-spacing: -0.01em;
      line-height: 1.2;
      font-weight: bold;
      p {
        margin: 2px;
      }
    }

    .menu {
      width: 40px;
    }
  }
}

@media (min-width: 768px) {
  .nav_container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nav_container {
    display: flex;
    align-items: center;
    .header {
      flex: 1;
      margin-right: 3rem;
    }
    nav {
      display: block;
      ul {
        display: flex;
        align-items: center;

        li {
          margin: 0 1rem;
          color: rgb(29, 29, 29);
        }
      }
    }
    .menu {
      display: none;
    }

    .logs {
      display: block;
      .login_btn {
        border-bottom: black solid 1px;
        margin-right: 1rem;
        padding-bottom: 0.3rem;
      }

      .signup_btn {
        border: black solid 1px;
        padding: 0.3rem 0.8rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media (min-width: 1002px) {
  .nav_container {
    padding-left: 0;
    padding-right: 0;
  }
}
