.container {
  max-width: 1000px;
  margin: 2rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;

  img {
    object-fit: cover;
    height: 420px;
    align-self: center;
    background-color: rgb(243, 243, 243);
  }
}
